<a href="https://colab.research.google.com/github/samirgadkari/lambdata/blob/master/test_lambdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
!pip install -U --index-url https://test.pypi.org/simple/ lambdata-samirgadkari

Looking in indexes: https://test.pypi.org/simple/
Collecting lambdata-samirgadkari
  Downloading https://test-files.pythonhosted.org/packages/2b/70/42eecb7202fe82ff9e9dc022d883a2bb842f3833965393528bad92b22449/lambdata_samirgadkari-0.0.6-py3-none-any.whl
Requirement already satisfied, skipping upgrade: numpy in /usr/local/lib/python3.6/dist-packages (from lambdata-samirgadkari) (1.14.6)
Requirement already satisfied, skipping upgrade: pandas in /usr/local/lib/python3.6/dist-packages (from lambdata-samirgadkari) (0.22.0)
Requirement already satisfied, skipping upgrade: minepy in /usr/local/lib/python3.6/dist-packages (from lambdata-samirgadkari) (1.2.3)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-samirgadkari) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-samirgadkari) (2.5.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas->lambdata-samirgadkari) (1.11.0)
Installing collected packages: lambdata-samirgadkari
  Found existing installation: lambdata-samirgadkari 0.0.5
    Uninstalling lambdata-samirgadkari-0.0.5:
      Successfully uninstalled lambdata-samirgadkari-0.0.5
Successfully installed lambdata-samirgadkari-0.0.6

In [0]:
import lambdata_samirgadkari as s

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'col1': [1, 2, 3, 4, 5, 6], 'col2': [8, 9, 10, 11, np.nan, np.nan]})
s.show.nulls(df)

      Nulls
col1      0
col2      2

In [4]:
df = pd.DataFrame({'col1': [11, 2, 3, 4, 5, 16], 'col2': [8, 9, 10, 11, 12 ,13], 'col3': [3, 2, 1, 5, 6, 3]})
df.corr()

          col1      col2      col3
col1  1.000000  0.340620  0.026076
col2  0.340620  1.000000  0.459335
col3  0.026076  0.459335  1.000000

In [6]:
df = pd.DataFrame({'col1': [11, 2, 3, 4, 5, 16], 'col2': [8, 9, 10, 11, 12 ,13], 'col3': [3, 2, 1, 5, 6, 3]})
s.show.mic(df, 'col1')

              col2      col3
MIC-col1  0.459148  0.918296

In [7]:
s.show.all(df, 'col2')

                    col1       col2      col3
count           6.000000   6.000000  6.000000
mean            6.833333  10.500000  3.333333
std             5.492419   1.870829  1.861899
min             2.000000   8.000000  1.000000
25%             3.250000   9.250000  2.250000
50%             4.500000  10.500000  3.000000
75%             9.500000  11.750000  4.500000
max            16.000000  13.000000  6.000000
Nulls           0.000000   0.000000  0.000000
kendall-col2    0.466667   1.000000  0.276026
pearson-col2    0.340620   1.000000  0.459335
spearman-col2   0.428571   1.000000  0.463817
MIC-col2        0.459148        NaN  0.459148